<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>c4e24 web introduction</title>
</head>
<body>
    <h1>hello c4e</h1>
    <h4>{{ character["name"] }}</h4>
    <h5>{{ character["company"] }}</h5>
    {% for a in character["abilities"] %}
        <h6>{{ a }}</h6>
    {% endfor %}
    
    <img src={{ image }} alt="aquamen PIC">

</body>
</html>