<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
    <form action="/login" method="POST"></form>
        <h1>Đăng kí tài khoản </h1>
        <h4>Tên đầy đủ</h4>
        <input type="text" placeholder="Trương Minh Hiếu" name = "name">
            
        <h4>Email</h4>
        <input type="Email" placeholder="truonghieu0511@gmail.com" name="email" id="">
        <br>
        <h4>Tên đăng nhập</h4>
        <br>
        <input type="text" name ="username" >
        <br>
        <h4>Mật khẩu</h4>
        <br>
        <input type="password" placeholder="********" name="password">
        <br>
        <br>
        <input type="submit" value="Submit">
        <br>
    </form>

</body>
</html>
