<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Character list</title>
</head>
<body>
    {% for character in characters_list %}
        <h4>{{ character['name'] }}</h4>
        <img src="{{ character['image'] }}" alt="">
        
        <a href="{{ character['link'] }}">link</a>
    {% endfor %}
    {% for i in c4e %}
        <h3>i['name']</h3>
    {% endfor %}
</body>
</html>