<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% for item in food_items %}
        <div>
            <a href="/food_detail/{{ loop.index0 }}">Detail</a>
            {{ loop.index }}
            <h4>{{ item.name}}</h4>
            <img src="{{ item.image }}" alt="">
            <a href="{{ item.link }}">google</a>

        </div>
    {% endfor %}
</body>
</html>